{
    "plugins": [
        {
            "hostfile": "libogg_decoder.ipdplus",
            "name": "libogg decoder",
            "publisher": "imPlayer Group",
            "type": "Decoder"
        },
        {
            "hostfile": "ffmpeg_decoder.ipdplus",
            "name": "FFmpeg decoder",
            "publisher": "imPlayer Group",
            "type": "Decoder"
        },
        {
            "hostfile": "gme_decoder.ipdplus",
            "name": "Game Music Emu decoder",
            "publisher": "imPlayer Group",
            "type": "Decoder"
        },
        {
            "hostfile": "libflac_decoder.ipdplus",
            "name": "libFLAC decoder",
            "publisher": "imPlayer Group",
            "type": "Decoder"
        },
        {
            "hostfile": "libsnd_decoder.ipdplus",
            "name": "Libsndfile decoder",
            "publisher": "imPlayer Group",
            "type": "Decoder"
        },
        {
            "hostfile": "libvgm_decoder.ipdplus",
            "name": "Libvgm decoder",
            "publisher": "imPlayer Group",
            "type": "Decoder"
        },
        {
            "hostfile": "mpg123_decoder.ipdplus",
            "name": "Mpg123 decoder",
            "publisher": "imPlayer Group",
            "type": "Decoder"
        },
        {
            "hostfile": "wavpack_decoder.ipdplus",
            "name": "WavPack decoder",
            "publisher": "imPlayer Group",
            "type": "Decoder"
        }
    ]
}